<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <div class ="container">
      <h3>Latest Mars News</h3>
      <h5>{{ mars_data.news_title }}</h5>
      <p>{{ mars_data.news_p }}</p>
    </div>
  
    <div class = "row">
      <div class="col-md-8"> 
        <h2>Featured Mars Image</h2>
        <img src="{{mars_data['featured_image_url'] | default('static/images/error.png', true)}}">
      </div>

      <div class = "col-md-8">
        <h2> Mars Facts</h2>
        <p {{mars_data.mars_html_table|safe}}></p>
      </div>  
    </div>
  </div>  
  <div class = "row" id = "mars-hemisphere">
    <h2 class="text-center"> Mars Hemisphere </h2>
    {% for x in mars_data.hemisphere_images %}
    <div class=" col-3 col-md-6">
      <div class="thumbnail">
      <img src="{{x['img_url']|default('static/images/error.png', true)}}" alt="...">
      <h5 id="caption">{{x['title']}}</h5>
    </div>
      <br/>
    </div>
    {% endfor %}
   
 </div>  
</body>

</html>